{{!< default}} <header id="blog-header" {{#if @blog.cover_image}} class="has-cover" {{/if}}>
	<div class="inner">
		<nav id="navigation">
			{{#if @blog.logo}}
			<span class="blog-logo">
				<a href="{{@blog.url}}">
					<span class="blog-logo">
						<a href="{{url}}">
							<span>
								M<span class="blog-logo-blue">T</span>G
							</span>
						</a>
					</span>
				</a>
			</span>
			{{/if}}
			{{#if @blog.navigation}}
			<span id="menu-button" class="nav-button">
				<a class="menu-button"><i class="ic ic-menu"></i> {{t "Menu"}}</a>
			</span>
			{{/if}}
		</nav>
		<h1 class="blog-name"><a href="{{@blog.url}}">Matthew <span style="color:#1982C4">T</span> Gerstman</a></h1>
		{{#if @blog.description}}
		<span class="blog-description">
			<span style="color: #1982C4">T</span><span style="color: #FFFFFF">heater, </span>
			<span style="color: #1982C4">T</span><span style="color: #FFFFFF">ech, </span>
			<span style="color: #1982C4">T</span><span style="color: #FFFFFF">ravel</span>
		</span>
		{{/if}}
		{{#if @blog.cover_image}}
		<div class="blog-cover cover" style="background-image: url('{{img_url @blog.cover_image}}');"></div>
		{{/if}}
	</div>
</header>

<div id="index" class="container">

	<main class="content" role="main">

		{{> "loop"}}

	</main>

</div>